<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="CommentMapper"> 

<!-- 전체검색 -->
<select id="selectComment" parameterType="hashmap" resultType="comment">
	SELECT 
	*
	FROM comment_tab
	<where>
		<if test="commentNo != null">
			comment_no = #{commentNo}
		</if>
		<if test="condition != null">
			${condition} LIKE '%${keyword}%'
		</if>
	</where>

</select>

<!-- 하나검색 -->
<select id="selectCommentByPK" parameterType="long" resultType="comment">
	SELECT
	*
	FROM comment_tab
	Where comment_no=#{commentNo}
</select>

<!-- 입력 -->
<insert id="insertComment" parameterType="comment">
	INSERT INTO 
	comment_tab(comment_no, user_id, comment_content, reg_date)
	VALUES(#{commentNo},#{userId},#{commentContent},sysdate)
</insert>

<!-- 삭제 -->
<delete id="deleteComment" parameterType="comment">
	DELETE FROM COMMENT_TAB WHERE comment_no=#{commentNo}
</delete>

<!-- 수정 -->
<update id="modifyComment" parameterType="comment">
	UPDATE COMMENT_TAB
	SET COMMENT_CONTENT=#{commentContent}
	WHERE COMMENT_NO=#{commentNo}
	AND USER_ID=#{userId}
</update>
</mapper>